<html>

<head>
  <title>WELCOME</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <style>
    body {
      /* background-image: url('https://thumbs.dreamstime.com/z/colorful-pharmaceutical-medicine-pills-tablets-different-medical-drugs-blue-background-medicine-flat-lay-colorful-175542604.jpg'); */
      background-image: url('https://images.unsplash.com/photo-1471864190281-a93a3070b6de?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      /* background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210630/pngtree-hexagon-international-health-day-green-banner-background-image_735377.jpg');*/
      background-repeat: no-repeat;
      background-size: 100%;
    }

    body::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.7;
      width: 100%;
      height: 100%;
    }

    .navig {
      padding: 1.2rem;
      height: 50px;
      opacity: 0.8;
      position: sticky;
      top: 0px;
      background-color: white;
      justify-content: space-between;
      overflow: hidden;
      padding-left: 1025px;
    }

    .navig a {
      /* margin-left: 600px; */
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
      font-size: 25px;
      margin-right: 15px;
      width: 72.5px;
    }

    .navig a.right {
      float: right;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 25px;
      margin-right: 15px;
      width: 72.5px;
    }

    .navig a.out {
      float: right;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 25px;
      margin-right: 15px;
      width: 72.5px;
    }

    a:hover {
      color: black;
    }

    a:active {
      background-color: rgb(245, 207, 207);;
      color: black;
    }

    p {
      color: black;
    }

    .navig input[type=text] {
      float: right;
      padding-right: 100px;
      padding-top: 15px;
      padding-bottom: 15px;
      border: none;
      margin-top: 10px;
      margin-right: 100px;
      font-size: 17px;
      position: absolute;
      right: 570px;
      top: 8px;
    }

    .adjust {
      line-height: 0em;
    }

    .navig button[type=submit] {
      position: absolute;
      top: 20px;
      right: 610px;
    }
  </style>
</head>

<body>
  <div class="navig" id="nav">
    <a href="">Home</a>
    <a href="/order">Order</a>
    <a href="/contact">Contact</a>
    <a href="" style="width: 50px;"><i class="fa-regular fa-heart"></i></a>
  </div>
  <div class="adjust" style="margin-top: 280px;">
    <p style="font-size:75px; color:rgb(246, 209, 209); z-index:5; position: relative; margin-left: 100px;">PHARMFIRST</p>
    <p style="font-size:40px" style="margin : 0; padding-top:0;"><i
        style="color: rgb(255, 193, 193); z-index: 10; position: relative; margin-left: 300px;">"We care
        for your well-being"</i></p>
    </p>
  </div>
</body>

</html>