<html>
<head>
  <title>Order</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <style>
    * {
      margin: 3px;
    }
    .navig {
      padding: 1.2rem;
      height: 90px;
      opacity: 0.8;
      position: sticky;
      top: 0px;
      background-color: rgb(255, 193, 193);
      justify-content: space-between;
      overflow: hidden;
      padding-left: 1000px;
    }

    .navig a {
      /* margin-left: 600px; */
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
      font-size: 25px;
      margin-right: 5px;
      width: 120px;
      /* height: 70px; */
    }

    .navig a.right {
      float: right;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 25px;
      margin-right: 5px;
      width: 72.5px;
    }

    .navig a.out {
      float: right;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 25px;
      margin-right: 5px;
      width: 72.5px;
    }

    a:hover {
      color: black;
    }

    a:active {
      background-color: white;
      color: black;
    }

    .navig input[type=text] {
      float: right;
      padding-right: 100px;
      padding-top: 15px;
      padding-bottom: 15px;
      border: none;
      margin-top: 10px;
      margin-right: 100px;
      font-size: 17px;
      position: absolute;
      right: 570px;
      top: 8px;
    }
    .navig button[type=submit] {
      position: absolute;
      top: 20px;
      right: 610px;
    }
    input{
      border: 2px solid black;
      padding: 2px;
      height: 40px;
      width: 300px;
      margin-top: 50px;
      border-radius: 10px;
      margin-left: 100px;
    }

    .box{
      height: 300px;
      width: 500px;
      margin: 100px 0 0 515px;
      border: 0px black solid;
      box-shadow: 0 5px 5px 2px #4e4a4a;
      border-radius: 20px;
    }
    button{
      height: 40px;
      width: 100px;
      margin: 10px 0 0 200px;
      background-color: rgb(255, 193, 193);
      border-radius:10px ;
      
    }
    p {
      color: black;
    }

    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }
   
  </style>
</head>

<body>
  <div class="main">
    <div class="navig" id="nav">
      <a href="/">Home</a>
      <a href="">Order</a>
      <a href="/contact">Contact</a>
      <a href="" style="width: 60px;"><i class="fa-regular fa-heart"></i></a>

    </div>
    <h1 style="margin: 100px 0 0 470px;">Discover your path to wellness effortlessly..</h1>
    <form action="/results" method="POST">
      <div class="box">
        <input type="text" placeholder="Enter a medicine.." name="search">
        <br>
        <br>
        <button type="submit">Search</button>
        <p style="margin: 10px 0 0 235px;">OR</p>
        <p style="margin:10px 0 0 170px; font-size: 20px;">Upload Prescription:</p>
        <input type="file" style="margin: 10px 0 0 180px; border: 0;" id="">
      </div>
      
    </form>
  </div>
  <!-- <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" class="place" > -->
  </form>
</body>

</html>